.managePayments{
    background-image: url('https://previews.123rf.com/images/funtap/funtap1904/funtap190400864/120982775-event-management-konzept-flussdiagramm-zur-ereignisverwaltung-themen-rund-um-das-eventmanagement-mix.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mangApp{
    color: #00008B;
    display: flex;
    height: 10vh;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: bold;
}
  
