#Editform{
    background-color:#ADD8E6;
	padding:16px;
    max-width: 800px;
    opacity: 0.8;
}

.EditService{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8vNjv61QImVIoBw3H0-kpM42wYdqHEoKN7Q&usqp=CAU');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight:bold;
}

.updateapp{
    font-family:Sans-serif;
	font-weight:bold;
	color:#000080;
}

#bkl2 {
    background-color: #191970; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    width: 310px;
  }

  #u1{
    background-color: #000080;
    border: none;
    color: white;
    position: relative;
    left:200px;
    right:150px;
    height: 50px;
    width: 310px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin:20px;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }
  