h2{
    text-align: center;
    font-weight:bold;
    color:#000080;
    font-size: 3rem;
}

.viewapp{
    text-align: center;
    font-weight:bold;
    color:#e41795;
    font-size: 3rem;
}

#ba3 {
    background-color: #008000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



#b4{
    color: #FF0000;
}


table {
    border-collapse: collapse;
    width: 70%;
}
  
table ,tr,td{
    border: 1px solid #ddd;
    text-align: left;
}
  
td{
    padding:15px;
}
  
tr:nth-child(even)
{
   background-color: #FAEBD7;
}
   
tr:nth-child(odd)
{
   background-color: #FFF8DC;
}

th:nth-child(odd){
    background-color:#f2f2f2;
}

th:nth-child(even){
    background-color: #f2f2f2;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: blueviolet;
}

.viewEventpg{
    background-image: url('https://hips.hearstapps.com/clv.h-cdn.co/assets/17/15/outdoor-wedding-ideas-floral-garland-centerpiece-photo-viainspired-by-this-dan-stewart-photography-planning-smitten-events-venue-menonaqua-inn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}      

.searchEventBtn{
    background-color: #eccc3a; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#k3{
    background-color: #d11010;
    border: none;
    color: white;
    position: relative;
    left:50px;
    right:150px;
    height: 50px;
    width: 310px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin:20px;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }

  .EventDetails{
    text-align: center;
    font-weight:bold;
    color:#000080;
    font-size: 3rem;
  }


  .searchEventTitle{
	font-size: 65px;
	text-align: center;
	color: rgb(233, 17, 17);
	margin: 0;
	height: 60px;
}

/*.toSearchEventPage{
	color:rgb(210, 217, 224);
	font-weight: bold;
    font-size: 1.5rem;
}*/

.searchEventPage{
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsT--dn0tZC70xhRxF23Q_V6dRBCFmfQv90g&usqp=CAU") no-repeat center center fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#searchEventForm{
	max-width: 1000px;
	height:700px;
	padding: 16px;
    background-color: transparent;
    background: rgba(3, 19, 19, 0.5);
    border-radius: 10px;
    
}

.searchBar{
	width:400px;
    height: 40px;
    border-radius: 15px;
}
.searchButton{
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
}

.searchEvent{
	font-size: 25px;
    font-weight: bold;
	color: rgb(231, 226, 228);
	margin: 0;
	height: 60px;
}

.search{
    max-width: 1000px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(19, 14, 14);
}